@import "./../../styles/variables.scss";

.character-card {
    a {
        text-decoration: none;
    }

    .character-photo {
        position: relative;
        overflow: hidden;
        background: $white-color;
        z-index: 1;

        &:before {
            content: "";
            display: block;
            padding-top: 100%;
            z-index: 0;
        }

        & img {
            position: absolute;
            top: 0;
            width: 100%;
            height: auto;
        }
    }

    .character-info {
        position: relative;
        background: $black-color;
        display: flex;
        flex-direction: row;
        color: $white-color;
        height: 3.5rem;
        padding-left: $padding;
        padding-right: $padding;
        box-sizing: border-box;
        align-items: center;
        justify-content: space-between;

        .name {
            z-index: 1;
            padding: 0;
            margin: 0;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 3rem;
        }

        &:before {
            content: "";
            background: $marvel-red;
            top: calc(0.3362rem - 3.5rem);
            height: 100%;
            bottom: 100%;
            left: 0;
            position: absolute;
            transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
            transition: transform 0.3s;
            width: 100%;
            z-index: 0;
        }

        &:after {
            border-color: transparent #fff transparent transparent;
            border-style: solid;
            border-width: 0.75rem 0.75rem 0 0;
            bottom: 0;
            content: "";
            position: absolute;
            right: 0;
            top: auto;
            z-index: 40;
        }

        .toggle-fav {
            svg {
                path {
                    transition: fill 0.3s ease;
                }
            }
        }
    }

    &:hover {
        .character-info {
            &:before {
                transform: translate3d(0, calc(100% - 0.3362rem), 0);
            }
            .toggle-fav {
                svg {
                    path {
                        fill: $white-color;
                        transition: fill 0.3s ease;
                    }
                }
            }
        }
    }
}
